make-check-leads.json
{
    "name": "process-new-leads",
    "flow": [
        {
            "id": 1,
            "module": "google-sheets:watchRows",
            "version": 1,
            "parameters": {
                "__IMTCONN__": "YOUR_GOOGLE_CONNECTION_ID"
            },
            "mapper": {
                "from": "drive",
                "mode": "select",
                "sheetId": "leads",
                "spreadsheetId": "YOUR_SPREADSHEET_ID",
                "watchType": "new_rows"
            },
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 2,
            "module": "flow:SetVariable",
            "version": 1,
            "parameters": {},
            "mapper": {
                "name": "formattedLeads",
                "value": "[{\"phoneNumber\": \"{{1.phoneNumber}}\", \"name\": \"{{1.name}}\"}]"
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 0
                },
                "expect": [
                    {
                        "name": "name",
                        "type": "text",
                        "label": "Name",
                        "required": true
                    },
                    {
                        "name": "value",
                        "type": "any",
                        "label": "Value",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 3,
            "module": "http:makeRequest",
            "version": 2,
            "parameters": {},
            "mapper": {
                "url": "https://YOUR_CLOUD_RUN_URL.run.app/check-leads",
                "method": "POST",
                "headers": [
                    {
                        "key": "Content-Type",
                        "value": "application/json"
                    }
                ],
                "body": "{\"leads\": {{2.value}}}",
                "bodyType": "raw",
                "parseResponse": true
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 0
                },
                "expect": [
                    {
                        "name": "url",
                        "type": "url",
                        "label": "URL",
                        "required": true
                    },
                    {
                        "name": "method",
                        "type": "select",
                        "label": "Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "GET",
                                "POST",
                                "PUT",
                                "DELETE",
                                "PATCH",
                                "HEAD",
                                "OPTIONS"
                            ]
                        }
                    },
                    {
                        "name": "headers",
                        "spec": [
                            {
                                "name": "key",
                                "type": "text",
                                "label": "Key",
                                "required": true
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value",
                                "required": true
                            }
                        ],
                        "type": "array",
                        "label": "Headers"
                    },
                    {
                        "name": "bodyType",
                        "type": "select",
                        "label": "Body Type",
                        "validate": {
                            "enum": [
                                "raw",
                                "form-data",
                                "x-www-form-urlencoded"
                            ]
                        }
                    },
                    {
                        "name": "body",
                        "type": "any",
                        "label": "Body"
                    },
                    {
                        "name": "parseResponse",
                        "type": "boolean",
                        "label": "Parse response"
                    }
                ]
            }
        },
        {
            "id": 4,
            "module": "flow:Router",
            "version": 1,
            "parameters": {},
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 900,
                    "y": 0
                }
            },
            "routes": [
                {
                    "name": "Success",
                    "conditions": [
                        [
                            {
                                "a": "{{3.statusCode}}",
                                "b": "200",
                                "o": "text:equal"
                            }
                        ]
                    ],
                    "flow": [
                        {
                            "id": 5,
                            "module": "tools:SendEmail",
                            "version": 1,
                            "parameters": {},
                            "mapper": {
                                "to": "YOUR_EMAIL@example.com",
                                "subject": "Lead Successfully Processed",
                                "content": "Lead for {{1.name}} was successfully sent to the AI system.\n\nResponse: {{3.body}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1200,
                                    "y": -150
                                },
                                "expect": [
                                    {
                                        "name": "to",
                                        "type": "email",
                                        "label": "To",
                                        "required": true
                                    },
                                    {
                                        "name": "subject",
                                        "type": "text",
                                        "label": "Subject",
                                        "required": true
                                    },
                                    {
                                        "name": "content",
                                        "type": "text",
                                        "label": "Content",
                                        "required": true
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "name": "Error",
                    "conditions": [
                        [
                            {
                                "a": "{{3.statusCode}}",
                                "b": "200",
                                "o": "text:notequal"
                            }
                        ]
                    ],
                    "flow": [
                        {
                            "id": 6,
                            "module": "tools:SendEmail",
                            "version": 1,
                            "parameters": {},
                            "mapper": {
                                "to": "YOUR_EMAIL@example.com",
                                "subject": "Error Processing Lead",
                                "content": "Error processing lead for {{1.name}}.\n\nRequest Body:\n{{2.value}}\n\nError Response:\n{{3.body}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1200,
                                    "y": 150
                                },
                                "expect": [
                                    {
                                        "name": "to",
                                        "type": "email",
                                        "label": "To",
                                        "required": true
                                    },
                                    {
                                        "name": "subject",
                                        "type": "text",
                                        "label": "Subject",
                                        "required": true
                                    },
                                    {
                                        "name": "content",
                                        "type": "text",
                                        "label": "Content",
                                        "required": true
                                    }
                                ]
                            }
                        },
                        {
                            "id": 7,
                            "module": "google-sheets:addRow",
                            "version": 2,
                            "parameters": {
                                "__IMTCONN__": "YOUR_GOOGLE_CONNECTION_ID"
                            },
                            "mapper": {
                                "from": "drive",
                                "mode": "select",
                                "values": {
                                    "0": "{{now}}",
                                    "1": "{{1.name}}",
                                    "2": "{{3.body.message}}"
                                },
                                "sheetId": "errors",
                                "spreadsheetId": "YOUR_SPREADSHEET_ID",
                                "includesHeaders": true,
                                "insertDataOption": "INSERT_ROWS",
                                "valueInputOption": "USER_ENTERED",
                                "insertUnformatted": false
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1500,
                                    "y": 150
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:google",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "mode",
                                        "type": "select",
                                        "label": "Search Method",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "select",
                                                "fromAll",
                                                "map"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "insertUnformatted",
                                        "type": "boolean",
                                        "label": "Unformatted",
                                        "required": true
                                    },
                                    {
                                        "name": "valueInputOption",
                                        "type": "select",
                                        "label": "Value input option",
                                        "validate": {
                                            "enum": [
                                                "USER_ENTERED",
                                                "RAW"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "insertDataOption",
                                        "type": "select",
                                        "label": "Insert data option",
                                        "validate": {
                                            "enum": [
                                                "INSERT_ROWS",
                                                "OVERWRITE"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "from",
                                        "type": "select",
                                        "label": "Drive",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "drive",
                                                "share",
                                                "team"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "spreadsheetId",
                                        "type": "file",
                                        "label": "Spreadsheet ID",
                                        "required": true
                                    },
                                    {
                                        "name": "sheetId",
                                        "type": "select",
                                        "label": "Sheet Name",
                                        "required": true
                                    },
                                    {
                                        "name": "includesHeaders",
                                        "type": "select",
                                        "label": "Table contains headers",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                true,
                                                false
                                            ]
                                        }
                                    },
                                    {
                                        "name": "values",
                                        "spec": [
                                            {
                                                "name": "0",
                                                "type": "text",
                                                "label": "Date (A)"
                                            },
                                            {
                                                "name": "1",
                                                "type": "text",
                                                "label": "Lead Name (B)"
                                            },
                                            {
                                                "name": "2",
                                                "type": "text",
                                                "label": "Error (C)"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Values"
                                    }
                                ]
                            }
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "us1.make.com"
    }
}
